.phraseContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
}
#confirmWalletDiv {
  border: 2px solid white;
  width: 95%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.wall-cont {
  background-color: #221d3b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  border-radius: 10px;
  margin: 0 10px;
}
.createWalletPhrase {
  /* height: 70vh; */
}

.phraseBox {
  /* border: 2px solid red; */
  width: 24vw;
  height: 3vh;
  margin: 5px 2px;
  padding: 3px 0;
  border-radius: 7px;
  background-color: #3b3753;

  text-align: center;
  color: white;
}
.confirmedBox{
  width: 24vw;
  height: 3vh;
  margin: 5px 2px;
  padding: 3px 0;
  border-radius: 7px;
  background-color: #ffffff;

  text-align: center;
  color: #0a0a0a;
}
#btnNext {
  margin: 20px 0;
  margin-left: 22px;
}
